TSW*
*.o
*.a
*.dSYM
.*.swp
*.gz
*.fastq
*.err
*.out
*.txt
*.sort*
/og*
/bc*
/ngsutils
/outs
/errors
/pre_alignment
/alignments
/rice_fastqs
/ref_gens
/zlib-1.2.8
/seqqs
/scythe
/seqtk
/test_dir
/fixed_fastqs
/reseq_japonica
/angsd-wrapper
/reseq_indica
